<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
    <p>Are you sure you want to add deposit to &nbsp;<b>{{getDescription()}}</b>?</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]=true cdkFocusInitial>Yes</button>
    <button mat-button (click)="onNoClick()">No</button>
</div>