<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <mat-card class="p-0">
        <mat-list dense>
            <mat-list-item class="select" (click)="addFTD()">Add Deposit for &nbsp;<b>{{recordDescription()}}</b></mat-list-item>
        </mat-list>
    </mat-card>
</div>
