<div class="col">
    <h1>Affiliates country limits</h1>
    <mat-card>
        <form (submit)="applyFilters(currentFilters)" ngNativeValidate class=" row p-0">
            <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-size">
                <mat-select name="affiliateIds" multiple [(ngModel)]="currentFilters.affiliateIds" class="col p-0" placeholder="Affiliate" >
                    <mat-option #aAll (click)="selectAll(aAll, 'affiliateIds', 'affiliates'); aAll.deselectAll=!aAll.deselectAll;"> {{!aAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="+affiliateItem.id">
                        {{ affiliateItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-size">
                <input matInput type="text" #affiliateNameFilter class=" p-0" placeholder="Affiliate name filter" name="affiliate" [(ngModel)]="currentFilters.affiliateName">
            </mat-form-field> -->
            
            <mat-form-field class=" col col-sm-6 col-lg-4 select-size">
                <mat-select #countriesFilter class=" p-0" placeholder="Countries filter" name="acountries" [(ngModel)]="currentFilters.countries"  multiple >
                    <mat-option #cAll (click)="selectAll(cAll, 'countries', 'countries','countryIso'); cAll.deselectAll=!cAll.deselectAll;"> {{!cAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                        {{ countriesItem.countryName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class=" col col-sm-3 select-size">
                <mat-select #operationFactorFilter class=" p-0" placeholder="Operation for factor " name="isFactorGreater" [(ngModel)]="currentFilters.isFactorGreater">
                    <mat-option *ngFor="let element of listSvc.logicalOperations" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 align-self-center input-size">
                 <input matInput type="number" #facorFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Factor" name="factor" [(ngModel)]="currentFilters.factor">
            </mat-form-field>

            <mat-form-field class=" col col-sm-3 select-size">
                <mat-select #operationMinFilter class=" p-0" placeholder="Operation for min" name="isMinGreater" [(ngModel)]="currentFilters.isMinGreater">
                    <mat-option *ngFor="let element of listSvc.logicalOperations" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 align-self-center input-size">
                 <input matInput type="number" #minFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Min" name="min" [(ngModel)]="currentFilters.min">
            </mat-form-field>

            <mat-form-field class=" col col-sm-3 select-size">
                <mat-select #operationMaxFilter class=" p-0" placeholder="Operation for max " name="isMaxGreater" [(ngModel)]="currentFilters.isMaxGreater">
                    <mat-option *ngFor="let element of listSvc.logicalOperations" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 align-self-center input-size">
                 <input matInput type="number" #dailyLimitFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Max" name="max" [(ngModel)]="currentFilters.max">
            </mat-form-field>

            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
                <button type="reset" (click)="resetFilters()" mat-raised-button color="" >Reset</button>
            </div>
        </form>
    </mat-card>


    <!-- Fast filter -->
    <div class="mt-2 mb-2">
        <mat-form-field class="tm-full-width">
            <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
        </mat-form-field>
    </div>

    <!-- Table Content -->
    <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)" >

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id" >
                <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">{{i + 1}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="affiliate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliate </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <div *ngIf="editId != element.id">
                        {{element.affiliate}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select name="affiliateId" [(ngModel)]="element.affiliateId" class="col p-0"  title="Affiliate">
                            <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="affiliateItem.id">
                                {{ affiliateItem.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="countries">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Countries </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.countriesName}}
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="col select-size">
                        <mat-select #countriesSelect class=" p-0" (change)="saveCountries(element, countriesSelect.value)" [value]="element.countries?.split('|')"
                            placeholder="Select countries" [title]="element.countriesName" multiple>
                            <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                                {{ countriesItem.countryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <div *ngIf="editId != element.id">
                        {{element.type}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select name="affiliateType" [(ngModel)]="element.type" class="col p-0"  title="Type">
                            <mat-option *ngFor="let item of AffiliateLimitType" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="min">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Minimum </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.min}} 
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="align-self-center input-size mat-small-input">
                        <input matInput type="number" pattern="[0-9]{1,5}" class=" p-0" placeholder="Minimum" name="min" [(ngModel)]="element.min">
                   </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="max">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Maximum </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.max}} 
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="align-self-center input-size mat-small-input ">
                        <input matInput type="number" pattern="[0-9]{1,5}" class=" p-0" placeholder="Maximum" name="max" [(ngModel)]="element.max">
                   </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="factor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Factor </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.factor}} &nbsp;
                        <svg (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                        </svg>
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="align-self-center input-size mat-small-input" >
                        <input matInput type="number" pattern="[0-9]{1,5}" class="p-0" placeholder="Factor" name="factor" [(ngModel)]="element.factor">
                   </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId == element.id" class='d-flex ustify-content-center flex-column align-items-center'>
                        <button type="submit" class=" m-1 p-0 border border-success rounded" mat-raised-button (click)="save(element)">Save</button>
                        <button type="button" class=" m-1 p-0 border rounded" mat-raised-button (click)="closeEdit(element)">Cancel</button>
                    </div>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; let element; columns: displayedColumns;"  (contextmenu)="OnClickRight($event, true, element)"></mat-row>
        </mat-table>
        <mat-paginator #paginator (page)="pageChanged($event)" [length]="" [pageSize]="10" [pageSizeOptions]="itemsPerPage" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div class="p-1"></div>
    <div class="d-sm-flex-0 mt-2">
        <button class="" mat-raised-button color="primary" (click)="addItem()">Add</button>
        <button class="" [disabled]="isDeleteDisabled" mat-raised-button color="primary" (click)="openDialog()">Delete</button>
    </div>
    <div *ngIf="showContextMenu == true">
        <affiliate-limits-context-menu [x]="contextmenuX" [y]="contextmenuY" [selectedRecords]="selection.selected" [selectedRecord]="selectedElement"></affiliate-limits-context-menu>
    </div>
</div>