    <div class="col">
        <h1>Broken Payment</h1>
        <mat-card>
            <form (submit)="applyFilters(currentFilters)" ngNativeValidate class="row p-0">
                <mat-form-field class="col col-sm-6 col-lg-4 select-size">
                    <mat-select class=" p-0" name="broker" placeholder="Select Broker" [(ngModel)]="currentFilters.subjectId" >
                        <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                            {{ brokerItem.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col col-sm-6 col-lg-4 select-size">
                    <mat-select class=" p-0 " name="Countries" placeholder="Countries filter" [(ngModel)]="currentFilters.countries" multiple>
                        <mat-option [value]="">All</mat-option>
                        <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                            {{ countriesItem.countryName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col col-sm-6 col-lg-4 select-size">
                    <mat-select class=" p-0 " name="type" placeholder="Type filter" [(ngModel)]="currentFilters.paymentType" >
                        <mat-option *ngFor="let typeItem of getList('type')" [value]="typeItem.id">
                            {{ typeItem.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col align-self-center button-size">
                    <button mat-raised-button color="primary">Apply</button>
                    <button type="reset" (click)="resetFilters()" mat-raised-button color="">Reset</button>
                </div>
            </form>
        </mat-card>
    
    
        <!-- Fast filter -->
        <div class="p-3">
            <mat-form-field class="tm-full-width">
                <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
            </mat-form-field>
        </div>
    
    
        <!-- Table Content -->
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">
    
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox *ngIf="additionInProgress == false && editId == null" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox *ngIf="additionInProgress == false && editId == null" (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                    <mat-cell *matCellDef="let element;"> {{ element.index }} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="editId != element.id">
                            {{element.countryName}}
                        </div>
                        <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                            <mat-select name="country" [(ngModel)]="item.country" class="col p-0" placeholder="{{element.countryName ? element.countryName : 'Country'}}" [title]="element.countryName" >
                                <mat-option [value]="'**'">All</mat-option>
                                <mat-option *ngFor="let countryItem of getList('countries')" [value]="countryItem.countryIso">
                                    {{ countryItem.countryName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="validFrom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> FromDate </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="editId != element.id">
                            {{element.validFrom | date:'dd/MM/yyyy'}}
                        </div>
                        <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                            <input matInput [matDatepicker]="fromDate" name="validFrom" [(ngModel)]="item.validFrom" #fromDateInput placeholder="From date">
                            <mat-datepicker-toggle matSuffix [for]="fromDate">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="validTo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ToDate </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="editId != element.id">
                            {{element.validTo | date:'dd/MM/yyyy'}}
                        </div>
                        <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                            <input matInput [matDatepicker]="toDate" name="validTo" [(ngModel)]="item.validTo" #toDateInput placeholder="To date">
                            <mat-datepicker-toggle matSuffix [for]="toDate">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="paymentType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="editId != element.id">
                            {{element.typeName}}
                        </div>
                        <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                            <mat-select name="paymentType" [(ngModel)]="item.paymentType" class="col p-0" placeholder="{{element.paymentType? element.paymentType:'Type'}}" [title]="element.paymentType">
                                <mat-option *ngFor="let countryItem of listSvc.deleteCountFistElementList(1,getList('type'))" [value]="countryItem.id">
                                    {{ countryItem.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Incoming </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="editId != element.id">
                            {{element.amount}}
                        </div>
                        <div class="p-0 col-11" *ngIf="editId == element.id">
                            <input type="number" name="amount" [(ngModel)]="item.amount" required pattern="[0-9]{1,4}" class="col p-0 input-priority-size"
                                [(value)]="element.amount">
                        </div>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <svg  *ngIf="editId != element.id" (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32"
                            width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                            <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                        </svg>
    
                        <div *ngIf="editId == element.id" class="d-flex ustify-content-center flex-column align-items-center">
                            <button class="m-1 p-0 border border-success rounded" mat-raised-button (click)="validationOfAnOperation()">Save</button>
                            <button class="m-1 p-0 border rounded" mat-raised-button (click)="closeEdit()">Cancel</button>
                        </div>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index">
                </mat-row>
            </mat-table>
            <div class="d-sm-flex-0 p-2">
                <button class="" disabled="{{isCheckBroker}}"  mat-raised-button color="primary" (click)="addItem()">Add</button>
                <button class="" disabled="{{isDeleteDisabled}}" mat-raised-button color="primary" (click)="openDialog()">Delete</button>
            </div>
    
            <mat-paginator #paginator [pageSize]="currentFilters.pageSize" (page)="pageChanged($event)" [pageSizeOptions]="itemsPerPage"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
        <div class="p-1"></div>
    </div>