<div class="col">
    <h1>Brokers</h1>
    <mat-card>
        <form (submit)="applyFilters(currentFilters)" ngNativeValidate class=" row p-0">
            <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-size">
                <input matInput type="text" #brokerNameFilter class=" p-0" placeholder="Broker name filter" name="broker" [(ngModel)]="currentFilters.brokerName">
            </mat-form-field>
            
            <mat-form-field class=" col col-sm-6 col-lg-4 select-size">
                <mat-select #countriesFilter class=" p-0" placeholder="Countries filter" name="bcountriesroker" [(ngModel)]="currentFilters.countries"  multiple >
                    <mat-option #cAll (click)="selectAll(cAll, 'countries', 'countries','countryIso'); cAll.deselectAll=!cAll.deselectAll;"> {{!cAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                        {{ countriesItem.countryName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 select-size">
                <mat-select #activeFilter class=" p-0 " placeholder="Active filter" name="isActive" [(ngModel)]="currentFilters.isActive">
                    <mat-option *ngFor="let element of listSvc.booleanValues" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class=" col col-sm-3 select-size">
                <mat-select #operationFilter class=" p-0" placeholder="Operation for Daily limit " name="isGreater" [(ngModel)]="currentFilters.isGreater">
                    <mat-option *ngFor="let element of listSvc.logicalOperations" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 align-self-center input-size">
                 <input matInput type="number" #dailyLimitFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Daily limit" name="dailyLimit" [(ngModel)]="currentFilters.dailyLimit">
            </mat-form-field>

            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
                <button type="reset" (click)="resetFilters()" mat-raised-button color="" >Reset</button>
            </div>
        </form>
    </mat-card>


    <!-- Fast filter -->
    <div class="mt-2 mb-2">
        <mat-form-field class="tm-full-width">
            <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
        </mat-form-field>
    </div>

    <!-- Table Content -->
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">

            <ng-container matColumnDef="id" >
                <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                <mat-cell *matCellDef="let element; ">{{element.index}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Broker </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a routerLink='/brokers-limits' [queryParams]='{brokerId: element.id}' title='Show limits'>{{element.name}}</a> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.active" (change)="toggleActive(element)">
                        {{element.active? 'Yes':'No'}}
                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="countries">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Allowed Countries </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.countriesName}}
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="col select-size">
                        <mat-select #countriesSelect class=" p-0" (change)="saveCountries(element, countriesSelect.value)" [value]="element.countries?.split('|')"
                            placeholder="Select countries" [title]="element.countriesName" multiple>
                            <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                                {{ countriesItem.countryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="blockedCountries">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Blocked Countries </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.blockedCountriesName}}
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="col select-size">
                        <mat-select #blockedCountriesSelect class=" p-0" (change)="saveBlockedCountries(element, blockedCountriesSelect.value)" [value]="element.blockedCountries?.split('|')"
                            placeholder="Select countries" [title]="element.blockedCountries" multiple>
                            <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                                {{ countriesItem.countryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.priority}}
                    </div>
                    <div class="p-0 col-11" *ngIf="editId == element.id">
                        <input type="number" name="priority" [(ngModel)]="element.priority" required pattern="[0-9]{1,4}" class="col p-0 input-priority-size"
                            [(value)]="element.priority">
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="limit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Daily limit </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.limit}} &nbsp;
                        <svg (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                        </svg>
                    </div>
                    <input *ngIf="editId == element.id" type="number" required pattern="[0-9]{1,15}" #limit class="col p-0" [(ngModel)]="element.limit">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId == element.id" class='d-flex ustify-content-center flex-column align-items-center'>
                        <button type="submit" class=" m-1 p-0 border border-success rounded" mat-raised-button (click)="save(element)">Save</button>
                        <button type="button" class=" m-1 p-0 border rounded" mat-raised-button (click)="cancel()">Cancel</button>
                    </div>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator (page)="pageChanged($event)" [length]="" [pageSize]="10" [pageSizeOptions]="itemsPerPage" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div class="p-1"></div>
</div>