<div class="col">
    <h1>Brokers country limits</h1>
    <mat-card>
        <form (submit)="applyFilters(currentFilters)" ngNativeValidate class=" row p-0">
            <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-size">
                <mat-select name="brokerIds" multiple [(ngModel)]="currentFilters.brokerIds" class="col p-0" placeholder="Broker" >
                    <mat-option #bAll (click)="selectAll(bAll, 'brokerIds', 'brokers'); bAll.deselectAll=!bAll.deselectAll;"> {{!bAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                        {{ brokerItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-size">
                <input matInput type="text" #brokerNameFilter class=" p-0" placeholder="Broker name filter" name="broker" [(ngModel)]="currentFilters.brokerName">
            </mat-form-field> -->
            
            <mat-form-field class=" col col-sm-6 col-lg-4 select-size">
                <mat-select #countriesFilter class=" p-0" placeholder="Countries filter" name="bcountriesroker" [(ngModel)]="currentFilters.countries"  multiple >
                    <mat-option #cAll (click)="selectAll(cAll, 'countries', 'countries','countryIso'); cAll.deselectAll=!cAll.deselectAll;"> {{!cAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                        {{ countriesItem.countryName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class=" col col-sm-3 select-size">
                <mat-select #operationFilter class=" p-0" placeholder="Operation for limit " name="isGreater" [(ngModel)]="currentFilters.isGreater">
                    <mat-option *ngFor="let element of listSvc.logicalOperations" [value]="element.value">
                        {{ element.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-sm-3 align-self-center input-size">
                 <input matInput type="number" #dailyLimitFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Limit" name="limit" [(ngModel)]="currentFilters.limit">
            </mat-form-field>

            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
                <button type="reset" (click)="resetFilters()" mat-raised-button color="" >Reset</button>
            </div>
        </form>
    </mat-card>


    <!-- Fast filter -->
    <div class="mt-2 mb-2">
        <mat-form-field class="tm-full-width">
            <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
        </mat-form-field>
    </div>

    <!-- Table Content -->
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id" >
                <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">{{i + 1}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="broker">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Broker </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <div *ngIf="editId != element.id">
                        {{element.broker}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select name="brokerId" [(ngModel)]="element.brokerId" class="col p-0"  title="Broker">
                            <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="+brokerItem.id">
                                {{ brokerItem.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>

            </ng-container>

            <ng-container matColumnDef="countries">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Countries </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.countriesName}}
                    </div>
                    <mat-form-field *ngIf="editId == element.id" class="col select-size">
                        <mat-select #countriesSelect class=" p-0" (change)="saveCountries(element, countriesSelect.value)" [value]="element.countries?.split('|')"
                            placeholder="Select countries" [title]="element.countriesName" multiple>
                            <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                                {{ countriesItem.countryName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="limit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Daily limit </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.limit}} &nbsp;
                        <svg (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                        </svg>
                    </div>

                    <mat-form-field *ngIf="editId == element.id" class="align-self-center input-size">
                        <input matInput type="number" #dailyLimitFilter pattern="[0-9]{1,5}" class=" p-0" placeholder="Limit" name="limit" [(ngModel)]="element.limit">
                   </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId == element.id" class='d-flex ustify-content-center flex-column align-items-center'>
                        <button type="submit" class=" m-1 p-0 border border-success rounded" mat-raised-button (click)="save(element)">Save</button>
                        <button type="button" class=" m-1 p-0 border rounded" mat-raised-button (click)="closeEdit(element)">Cancel</button>
                    </div>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator (page)="pageChanged($event)" [length]="" [pageSize]="10" [pageSizeOptions]="itemsPerPage" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div class="p-1"></div>
    <div class="d-sm-flex-0 mt-2">
        <button class="" mat-raised-button color="primary" (click)="addItem()">Add</button>
        <button class="" [disabled]="isDeleteDisabled" mat-raised-button color="primary" (click)="openDialog()">Delete</button>
    </div>
</div>