<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <mat-card class="padding-0">
        <mat-list dense>
            <mat-list-item class="select" (mouseover)="sendTo($event)"> Send to
                <mat-icon class="alignRight" matDatepickerToggleIcon>arrow_right</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="select" (mouseover)="closeMenuBroker()" (click)="allToCSV()"> All to CSV </mat-list-item>
            <mat-list-item class="select" (mouseover)="closeMenuBroker()" (click)="selectedToCSV()"> Selected to CSV </mat-list-item>
        </mat-list>
    </mat-card>
</div>
<div *ngIf="isActiveMenuBrokers" class="contextmenu scroll shadow" [ngStyle]="{'left.px': x + 120, 'top.px': y }">
    <mat-card class="padding-0">
        <mat-list dense>
            <mat-list-item class="select" *ngFor="let brokerItem of getList('brokers')" (click)="sendToBroker(brokerItem)">
                {{ brokerItem.name }}
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>