<div class="col">
        <h1>Country statistics</h1>
        <mat-card class='col'>
            <form class='row' (submit)="applyFilters(currentFilters)"
                  ngNativeValidate>
                <mat-form-field class="col col-sm-6 col-lg-3 select-size">
                    <mat-select class=" p-0 " name="brokerIds" [(ngModel)]="currentFilters.brokerIds" placeholder="Brokers filter" multiple>
                        <mat-option  #bAll (click)="selectAll(bAll, 'brokerIds', 'brokers'); bAll.deselectAll=!bAll.deselectAll;"> {{!bAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                        <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                            {{ brokerItem.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col col-sm-6 col-lg-3  select-size">
                    <mat-select class=" p-0" name="affiliateIds" [(ngModel)]="currentFilters.affiliateIds" placeholder="Affiliate filter" multiple>
                        <mat-option #aAll (click)="selectAll(aAll, 'affiliateIds', 'affiliates'); aAll.deselectAll=!aAll.deselectAll;"> {{!aAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                        <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="affiliateItem.id">
                            {{ affiliateItem.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col col-sm-6 col-lg-3  align-self-center input-type-date-size">
                    <input matInput [matDatepicker]="DateFrom" name="DateFrom" [(ngModel)]="currentFilters.dateFrom" #DateFromInput placeholder="From date">
                    <mat-datepicker-toggle matSuffix [for]="DateFrom">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #DateFrom></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                    <input matInput [matDatepicker]="DateTo" name="DateTo" [(ngModel)]="currentFilters.dateTo" #DateToInput placeholder="To date">
                    <mat-datepicker-toggle matSuffix [for]="DateTo">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #DateTo></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                    <mat-select #countriesFilter class=" p-0" placeholder="Countries filter" name="countriesrUser" [(ngModel)]="currentFilters.countries"  multiple >
                        <mat-option #cAll (click)="selectAll(cAll, 'countries', 'countries','countryIso'); cAll.deselectAll=!cAll.deselectAll;"> {{!cAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                        <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                            {{ countriesItem.countryName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <div class="col align-self-center button-size">
                    <button mat-raised-button color="primary">Apply</button>
                    <button type="reset" (click)="resetFilters()" mat-raised-button color="">Reset</button>
                </div>
            </form>
        </mat-card>
        <button  class="mt-2 mb-2" mat-raised-button (click)="saveToCsv()" >Save to CSV</button>
    
        <!-- Fat filter -->
        <div class="mt-2 mb-2">
            <mat-form-field class="tm-full-width">
                <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
            </mat-form-field>
        </div>
    
    
        <!-- Users table -->
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                    <mat-cell *matCellDef="let element;"> {{ element.index }} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="country">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
                    </ng-container>
    
                <ng-container matColumnDef="leads">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Leads </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.leads}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ratio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ratio </mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        <span *ngIf="element.leads > 0">{{100 * element.ratio | number:'1.0-2' }}%</span>
                        <span *ngIf="element.leads == 0">-</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="deposites">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Deposites </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.deposites}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reportedRatio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Reported ratio </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.leads > 0">{{100 * element.reportedRatio | number:'1.0-2' }}%</span>
                        <span *ngIf="element.leads == 0">-</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reportedDeposites">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Reported deposites </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.reportedDeposites}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="affiliates">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliates </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.affiliatesName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="brokers">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Brokers </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.brokersName}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="payouts">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Income </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.payouts}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="payments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Outcome </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.reportedPayments}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="profit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.payouts-element.reportedPayments }}
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="reportedProfit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.payouts - element.reportedPayments}}
                        </mat-cell>
                </ng-container> -->

            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="currentFilters.pageSize" (page)="pageChanged($event)" [pageIndex]="currentFilters.pageNumber" [pageSizeOptions]="itemsPerPage" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>