<div class="col">


   <mat-card>
        <form (submit)="getData(currentFilters)" ngNativeValidate class=" row p-0">
            <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-type-date-size">
                <!-- <input matInput type="date" #fromDateFilter class=" p-0" placeholder="From date"> -->

                <input matInput [matDatepicker]="fromDate" name="fromDate" [(ngModel)]="currentFilters.fromDate" #fromDateInput placeholder="From date">
                <mat-datepicker-toggle matSuffix [for]="fromDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-4 align-self-center input-type-date-size">
                <!-- <input matInput type="date" #toDateFilter class=" p-0" placeholder="To date"> -->



                <input matInput [matDatepicker]="toDate" name="toDate" [(ngModel)]="currentFilters.toDate" #toDateInput placeholder="To date">
                <mat-datepicker-toggle matSuffix [for]="toDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>

            </mat-form-field>

            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
            </div>
        </form>
    </mat-card>
    <div class="chartSize">
        <canvas class="p-3" id="leads"></canvas>
        <canvas class="p-3" id="deposits"></canvas>
    </div>
</div>