<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
    <p>Are you sure you want to delete these items?</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]=true cdkFocusInitial>Ok</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
</div>