<nav  class="list-group">
    <a class="list-group-item list-group-item-action rounded-0 border-right-0" routerLink='/dashboard' routerLinkActive="active">Dashboard</a>    
    <a class="list-group-item list-group-item-action border-right-0" routerLink='/brokers' routerLinkActive="active">Brokers</a>
    <a class="list-group-item list-group-item-action border-right-0" routerLink='/brokers-limits' routerLinkActive="active">Brokers Limits</a>
    <a class="list-group-item list-group-item-action border-right-0" routerLink='/affiliates-limits' routerLinkActive="active">Affiliates Limits</a>
    <a class="list-group-item list-group-item-action border-right-0 " routerLink='/users' routerLinkActive="active">Users</a>
    <a class="list-group-item list-group-item-action rounded-0 border-right-0" routerLink='/routing' routerLinkActive="active">Routing</a>
    <a class="list-group-item list-group-item-action border-right-0 " routerLink='/payments/broker' routerLinkActive="active">Broker payment</a>
    <a class="list-group-item list-group-item-action rounded-0 border-right-0" routerLink='/payments/affiliate' routerLinkActive="active">Affiliate payment</a>
    <a class="list-group-item list-group-item-action border-right-0 " routerLink='/statistics/broker' routerLinkActive="active">Broker statistics</a>
    <a class="list-group-item list-group-item-action rounded-0 border-right-0" routerLink='/statistics/affiliate' routerLinkActive="active">Affiliate statistics</a>
    <a class="list-group-item list-group-item-action rounded-0 border-right-0" routerLink='/statistics/country' routerLinkActive="active">Country statistics</a>
</nav>