<div class="jumbotron bg-white">
    <h1>404</h1>
    <hr class="my-4">
    <h2>
        There is nothing here, nothing at all!
    </h2>
    <p class="lead">Maybe you misspeled or things you look for transfered to other place.</p>
    
  </div>

