<div class="col">
    <h1>Profile</h1>
    <div class="text-center ">
        <form (submit)="changePassword(oldPassword.value, newPassword.value)">
            <div class="col align-self-center">
                <mat-form-field>
                    <input matInput type="password" #oldPassword required pattern="[0-9]{1,4}" class="p-0" placeholder="Old password">
                </mat-form-field>
            </div>
            <div class="col align-self-center tm-padding">
                <mat-form-field>
                    <input matInput type="password" #newPassword required pattern="[0-9]{1,4}" class="p-0" placeholder="New password">
                </mat-form-field>
            </div>
            <div class="col align-self-center tm-padding">
                <button type="submit" mat-raised-button color="primary">Change password</button>
            </div>
        </form>
    </div>
</div>