<button (click)="toggleMenu()" class="rounded-circle btn btn-outline-ligh bg-transparent" type="button" aria-label="Toggle navigation">
    <img class="rounded-circle border-0" src="/assets/admin.png" alt="Admin Image" width="40" title='Profile menu'>
</button>

<ul *ngIf="showMenu" class="position-absolute list-group profile-menu">
    <li class="list-group-item list-group-item-action tm-pointer" (click)="profile()">Profile</li>
    <li class="list-group-item list-group-item-action tm-pointer" (click)="logOut()">Log out</li>
</ul>