<div class="col">
    <h1>Routing</h1>
    <mat-card>
        <form (submit)="applyFilters(currentFilters)" ngNativeValidate class="row p-0">
            <mat-form-field class="col col-sm-6 col-lg-4 select-size">
                <mat-select class=" p-0" name="affiliate" placeholder="Affiliate filter" [(ngModel)]="currentFilters.affiliateIds" multiple>
                    <mat-option #aAll (click)="selectAll(aAll, 'affiliateIds', 'affiliates'); aAll.deselectAll=!aAll.deselectAll;"> {{!aAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="affiliateItem.id">
                        {{ affiliateItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-4 select-size">
                <mat-select class=" p-0 " name="broker" placeholder="Broker filter" [(ngModel)]="currentFilters.brokerIds" multiple>
                    <mat-option  #bAll (click)="selectAll(bAll, 'brokerIds', 'brokers'); bAll.deselectAll=!bAll.deselectAll;"> {{!bAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                        {{ brokerItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class=" col col-sm-6 col-lg-4 select-size">
                <mat-select class=" p-0" #tagsSelectCurrentFilters (change)="addValueInput()" name="offer"
                    [placeholder]="tagsSelectCurrentFilters.value ? 'Offer filter':currentFiltersOfferName||'Offer filter'" [(ngModel)]="currentFilters.offerIds" multiple>
                    <mat-select-trigger>
                        {{tagsSelectCurrentFilters.triggerValue}}
                        <span *ngIf="currentFiltersOfferName" class="example-additional-selection">
                        , {{currentFiltersOfferName}}
                        </span>
                    </mat-select-trigger>
                    <input type="number" #offerIdValue (input)="changeCurrentFiltersOfferIds(offerIdValue.value)" [value]= 'currentFiltersOfferName'  (keydown.enter)="stopEvent()" class="col w-75 mat-select-input">
                    <mat-option *ngFor="let offerItem of getList('offers')" [value]="offerItem.id">
                        {{ offerItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
                <button type="reset" (click)="resetFilters()" mat-raised-button color="">Reset</button>
            </div>
        </form>
    </mat-card>


    <!-- Fast filter -->
    <div class="p-3">
        <mat-form-field class="tm-full-width">
            <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
        </mat-form-field>
    </div>


    <!-- Table Content -->
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox *ngIf="additionInProgress == false && editId == null" (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.index }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="affId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliate </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.affiliate}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select name="affId" [(ngModel)]="element.affId" class="col p-0" placeholder="{{element.affName}}" [title]="element.affName">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="affiliateItem.id">
                                {{ affiliateItem.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="offerId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Offer </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.offer || "N/A"}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select  #tagsSelect name="offerId" [(ngModel)]="element.offerId" class="col p-0"  [title]="element.offer"  [placeholder]="tagsSelect.value ? '' : element.offer || 'Offer'">       
                            <input type="number" #offerIdValue [value]="element.offer" (change)="changeOfferId(offerIdValue.value, element)" class="col w-75 mat-select-input">
                            <mat-option [value]="null"></mat-option>
                            <mat-option *ngFor="let offerItem of getList('offers')" [value]="offerItem.id">
                                {{ offerItem.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="brokerId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Broker </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.broker}}
                    </div>
                    <mat-form-field class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select name="brokerId" [(ngModel)]="element.brokerId" class="col p-0" placeholder="{{element.broker}}" [title]="element.broker">
                            <mat-option [value]=""> </mat-option>
                            <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                                {{ brokerItem.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.priority}}
                    </div>
                    <div class="p-0 col-11" *ngIf="editId == element.id">
                        <input type="number" name="priority" [(ngModel)]="element.priority" required pattern="[0-9]{1,4}" class="col p-0 input-priority-size"
                            [(value)]="element.priority">
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="countries">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.countriesName}}
                    </div>
                    <div class="p-0 col-11" *ngIf="editId == element.id">
                        <mat-select #countriesSelect name="countries"  class="col p-0" 
                        (change)="saveCountries(element, countriesSelect.value)" [value]="element.countries?.split('|')"
                        placeholder="{{element.countryName ? element.countryName : 'Country'}}" multiple [title]="element.countryName" >
                            <mat-option [value]="'**'">All</mat-option>
                            <mat-option *ngFor="let countryItem of getList('countries')" [value]="countryItem.countryIso">
                                {{ countryItem.countryName }}
                            </mat-option>
                        </mat-select>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                            <input type="time" [value]="element.from" readonly class="border-0">
                    </div>
                    <div class="p-0 col-12" *ngIf="editId == element.id">
                            <input type="time" list="from_time" #fromValue name="from_time" [(ngModel)]="element.from"  (change)="saveTime(element, fromValue.value, 'from')" class="col pr-3 mat-select-input">
                            <datalist id="from_time">
                                <option *ngFor="let fromItem of getList('timeInterval')">
                                    {{ fromItem.name }}
                                </option>
                            </datalist>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        <input type="time" [value]="element.to"  readonly class="border-0">

                    </div>
                    <div class="p-0 col-12" *ngIf="editId == element.id">
                        <input type="time" list="to_time" #fromValue name="to_time" [(ngModel)]="element.to"  (change)="saveTime(element, fromValue.value, 'to')" class="col pr-3 mat-select-input">
                            <datalist id="to_time">
                                <option *ngFor="let fromItem of getList('timeInterval')">
                                    {{ fromItem.name }}
                                </option>
                            </datalist>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-slide-toggle class="p-0 col-11" (click)="onActive(element)" [checked]="checkedElementActive(element)">
                        {{element.active? 'Yes':'No'}}
                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="limit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Daily limit </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="editId != element.id">
                        {{element.limit}} &nbsp;
                        <svg (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                        </svg>
                    </div>
                    <input *ngIf="editId == element.id" type="number" required pattern="[0-9]{1,15}" #limit class="col p-0" [(value)]="element.limit" [(ngModel)]="element.limit">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <svg *ngIf="editId != element.id" (click)="toggleView(element)" class="i-compose float-right cursor-pointer" viewBox="0 0 32 32"
                        width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
                    </svg> -->

                    <div *ngIf="editId == element.id" class="d-flex ustify-content-center flex-column align-items-center">
                        <button class="m-1 p-0 border border-success rounded" mat-raised-button (click)="validationOfAnOperation(element)">Save</button>
                        <button class="m-1 p-0 border rounded" mat-raised-button (click)="closeEdit(element)">Cancel</button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index">
            </mat-row>
        </mat-table>
        <div class="d-sm-flex-0 p-2">
            <button class="" mat-raised-button color="primary" (click)="addItem()">Add</button>
            <button class="" [disabled]="isDeleteDisabled" mat-raised-button color="primary" (click)="openDialog()">Delete</button>
        </div>

        <mat-paginator #paginator [pageSize]="currentFilters.pageSize" (page)="pageChanged($event)" [pageSizeOptions]="itemsPerPage"
            [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div class="p-1"></div>
</div>