<div class="col">
    <h1>Users</h1>
    <mat-card class='col'>
        <form class='row' (submit)="applyFilters(currentFilters)"
              ngNativeValidate>
            <mat-form-field class="col col-sm-6 col-lg-3 select-size">
                <mat-select class=" p-0 " name="brokerIds" [(ngModel)]="currentFilters.brokerIds" placeholder="Brokers filter" multiple>
                    <mat-option  #bAll (click)="selectAll(bAll, 'brokerIds', 'brokers'); bAll.deselectAll=!bAll.deselectAll;"> {{!bAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let brokerItem of getList('brokers')" [value]="brokerItem.id">
                        {{ brokerItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3  select-size">
                <mat-select class=" p-0" name="affiliateIds" [(ngModel)]="currentFilters.affiliateIds" placeholder="Affiliate filter" multiple>
                    <mat-option #aAll (click)="selectAll(aAll, 'affiliateIds', 'affiliates'); aAll.deselectAll=!aAll.deselectAll;"> {{!aAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let affiliateItem of getList('affiliates')" [value]="affiliateItem.id">
                        {{ affiliateItem.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3  align-self-center input-type-date-size">
                <input matInput [matDatepicker]="fromDate" name="fromDate" [(ngModel)]="currentFilters.fromDate" #fromDateInput placeholder="From lead date">
                <mat-datepicker-toggle matSuffix [for]="fromDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                <input matInput [matDatepicker]="toDate" name="toDate" [(ngModel)]="currentFilters.toDate" #toDateInput placeholder="To lead date">
                <mat-datepicker-toggle matSuffix [for]="toDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col col-sm-6 col-lg-3  align-self-center input-type-date-size">
                <input matInput [matDatepicker]="fromDepositDate" name="fromDepositDate" [(ngModel)]="currentFilters.fromDepositDate" placeholder="From deposit date">
                <mat-datepicker-toggle matSuffix [for]="fromDepositDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #fromDepositDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                <input matInput [matDatepicker]="toDepositDate" name="toDepositDate" [(ngModel)]="currentFilters.toDepositDate" placeholder="To deposit date">
                <mat-datepicker-toggle matSuffix [for]="toDepositDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #toDepositDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                <mat-select #countriesFilter class=" p-0" placeholder="Countries filter" name="countriesrUser" [(ngModel)]="currentFilters.countries"  multiple >
                    <mat-option #cAll (click)="selectAll(cAll, 'countries', 'countries','countryIso'); cAll.deselectAll=!cAll.deselectAll;"> {{!cAll.deselectAll ? 'Select' : 'Deselect'}} all</mat-option>
                    <mat-option *ngFor="let countriesItem of getList('countries')" [value]="countriesItem.countryIso">
                        {{ countriesItem.countryName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col col-sm-6 col-lg-3 align-self-center input-type-date-size">
                <input matInput name="textFilter" [(ngModel)]="currentFilters.textFilter" placeholder="Text filter">
            </mat-form-field>

            <div class="col align-self-center button-size">
                <button mat-raised-button color="primary">Apply</button>
                <button type="reset" (click)="resetFilters()" mat-raised-button color="">Reset</button>
            </div>
        </form>
    </mat-card>

    <!-- Fat filter -->
    <div class="mt-2 mb-2">
        <mat-form-field class="tm-full-width">
            <input matInput (keyup)="fastFilter($event.target.value)" placeholder="Fast filter">
        </mat-form-field>
    </div>


    <!-- Users table -->
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)" (contextmenu)="OnClickRight($event, true)">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox *ngIf="requestInProgress == false && editId == null" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox *ngIf="requestInProgress == false && editId == null" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.index }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>

            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.firstName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.lastName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="broker">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Broker </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.broker}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="affiliate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliate </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.affiliate}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.countryName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="leadDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lead Date </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.leadDate | date:'dd/MM/yyyy HH:mm'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="depositDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Deposit Date </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.depositDate | date:'dd/MM/yyyy HH:mm'}}
                </mat-cell>
            </ng-container>
			 <ng-container matColumnDef="ftd">
                <mat-header-cell *matHeaderCellDef mat-sort-header> FTD </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.ftd }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isReported">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reported </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.isReported }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="callStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.callStatus }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="offerId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Offer </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.offerId }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hasOfferId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> HasOffers </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.hasOfferId }} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="currentFilters.pageSize" (page)="pageChanged($event)" [pageIndex]="currentFilters.pageNumber" [pageSizeOptions]="itemsPerPage" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div class="p-1"></div>
    <div *ngIf="isShowContextMenu == true">
        <context-menu [x]="contextmenuX" [y]="contextmenuY" [selectedRecords]="selection.selected" (sendToBrokerCallback)="sendToBroker($event)" (clearSelected)="clearSelected($event)" [filters]="currentFilters"></context-menu>
    </div>
</div>