/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    height: 100%;
    min-width: 300px;
  }

  header {
  }

  footer{
    background: lightgray;
  }

  
  div.content{
    display: flex;
    flex-direction: column;
    align-items:stretch;
  }
  
  .flex-item{
    display: flex;
  }

  nav.navbar{
    max-height:4em;
  }

  article{
    flex:1;
    position: relative;
  }
  
  article navigation{
    width: 35%;
    min-width: 150px;
    max-width: 200px;
    border-right: 1px solid rgba(0,0,0,.125);;
  }
  article nav.null{
    width: 0;
  }

  article main{
    flex:auto;
  }
  article aside{
    display: block;
    position: absolute;
    right: 0;
    top:0;
    width: 0;
    overflow: hidden;
    background: darkseagreen;
  }

  footer{
    height:3em;
  }

  .tm-padding{
    padding: 1em;
  }

  .tm-full-width{
    width: 100%;
  }

  .text-white .mat-simple-snackbar-action{
    color:white;
  }

  .bg-transparent{
    background-color: transparent;
  }

  .zindex-dropdown{
    z-index: 10;
  }

  .tm-pointer{
    cursor: pointer;
  }

  .tm-min-h{
    min-height: 100%;
  }

  .profile-menu{
    right:15px;
    min-width: 150px
  }


  .input-priority-size{
    max-width:  3.2em  ;
  }

  .mat-column-email
  {
    min-width: 10em;
  }

  .mat-column-id,
  .mat-column-select
  {
    max-width:  45px  ;  
  }

  .mat-column-active{
    max-width:  80px  ;  
  }

  .contextmenu{
    position: fixed;
  }
 
  .padding-0{
    padding: 0 !important;
    
  }

  .select :hover {
    scroll-behavior: unset;
    background:rgb(211, 211, 211);
  }

  .chartSize{
    position: relative; 
    margin: auto;
    height:35vh;
    width:65vw;
  }

.cursor-pointer{
  cursor: pointer;
}
.spinner{
  background: black;
  position:fixed;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%; /* Высота максимальна */
  left: 0; /* Нулевой отступ слева */
  opacity: 0.50; /* Степень прозрачности */
  top: 0; /* Нулевой отступ сверху */
  width: 100%; /* Ширина максимальна */
  z-index: 100; /* Заведомо быть НАД другими элементами */
}

.mat-select-input {
  font-size: 14px !important;
  line-height: 24px !important;
  margin: 16px !important;
  border:none !important;
  padding: 0;
  border-bottom: 1px gray solid !important;
}

.alignRight{
  margin-left: 25px;
}

.shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.scroll{
  max-height: 400px; 
  overflow: auto;
}

.mat-small-input .mat-form-field-flex {
  max-width: 100px !important;
}

.mat-small-input .mat-form-field-infix {
  max-width: 100px !important;
}