<!--The content below is only a placeholder and can be replaced.-->

<div class="content tm-min-h">
  <header class="flex-item navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div>
      <a class="navbar-brand" routerLink='/'>
        <span class="d-lg-none">OVO</span>
        <span class="d-none d-lg-block">OVO Traffic Manager</span>
      </a>
      <button class="navbar-toggler" href="#" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <profile-menu *ngIf="securitySvc.isAuthenticated() && !userSvc.hideMenu" class="position-relative zindex-dropdown"></profile-menu>
    
  </header>
  <article class="d-flex">
    <navigation id="nav" class="collapse show " *ngIf="!userSvc.hideMenu"></navigation>
    <main>
      <router-outlet></router-outlet>
    </main>
    <aside>PROFILE</aside>
  </article>
  <footer class="flex-item">Software development 2018</footer>
</div>
<div class="spinner center" *ngIf=spinnerIsVisible>
  <div class="row justify-content-center ">
    <div class="col align-self-center ">
      <mat-spinner diameter=100>
      </mat-spinner>
    </div>
  </div>
</div>